body {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container-header {
    width: 1400px;
    Height: 78px;
    margin-top: 20px;
    border: #173A56;
    border: dotted;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between
    
}

.item-logo-img {
    width: 30.16px;
    height: 30px;
    margin-left: 143.92px;
    margin-top: 22px;
    display: flex;
    
}


.item-logo {
    position: absolute;
    left: 13.3%;
    right: 76.48%;
    top: 32.05%;
    bottom: 30.8%;
    background: #173A56;
    margin-left: 20px;
    display: flex;
}

.nav-btn-content {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.navbar-content {
    max-width: 350px;
    width: 100%;
    height: 28px;
    border: dotted;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
   
    
}

.navbar-text {
    font-family: 'Poppins', sans-serif;
    font-style: Regular;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    vertical-align: top;
    Fill: Solid;
    color:#2F281E;
    display: flex;
    
    
}

.btn-sign-in {

    Width: 102px;
    Height: 46px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    Vertical-align: Top;
    Fill: Solid;
    color: #173A56;
    background-color: white;
    border-color: #BCD0E5;
    
}

.btn-sign-up {
    Width: 110px;
    Height: 46px;
    background-color: #FF9900;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    Font-size: 16px;
    Line-height: 24px;
    Vertical-align: Top;
    Fill: Solid;
    color: #FFFFFF;
    

}

.container {
    
    max-width: 1126px;
    width: 100%;
    height: 496px;
    border-color: #544837;

    border: dotted;

    display: flex;
    

    
}

.container-info {
    max-width: 518px;
    width: 100%;
    
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    

    
}

.title {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 44px;
    line-height: 54px;
    text-align: Left;
    vertical-align: Top;
    Fill: Solid;
    color: #2F281E;
 }

 .paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    text-align: Left;
    vertical-align: Top;
    Fill: Solid;
    color: #544837;
}


.buttons {
    display: flex;
    align-items: center;
}


 .btn-1 {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    Fill: Solid;
    background-color: #FF9900;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    Fill: Solid;
    color: #FFFFFF;
    border: none;
 }

 .btn-2 {
    width: 200px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    Font-size: 16px;
    Line-height: 24px;
    text-align: center;
    vertical-align: top;
    Fill: Solid;
    color: #FF9900;
    border: none;
    background-color: white;
}

.container2 {

    width: 1126px;
    height: 543px;
    

    border: dotted;
}

.title2 {
    font-family: 'Poppins', sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 36px;
    Line-height: 54px; 
    text-align: Center;
    Vertical-align: Top;
    Fill: Solid;
    color: #2F281E;
    

}

.container2-info {
    width: 1095px;
    width: 100%;
    Height: 204px;
    border:dotted;
    display: flex;
    justify-content: space-evenly;
    

}

.items {
    Width: 240px;
    Height: 178px;
    border: dotted;
    display: flex;
}

 .item-title {
    font-family: 'Poppins', sans-serif;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 22px;    
    Line-height: 33px;
    text-align: Left;
    Vertical-align: Top;
    Fill: Solid;
    color:#2F281E;

 }


.text {
    font-family: 'Poppins', sans-serif;
    Font-style: Medium;
    Font-size: 16px;
    Line-height: 26px;
    text-align: Left;
    Vertical-align: Top;
    Fill: Solid;
    color: #544837;
}

.button3 {
    display: flex;
    justify-content: center;
    
}
.btn-3 {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background-color: #FF9900;
    Fill: Solid;
    border:none;
    font-family: 'Poppins', sans-serif;
    font-style: Bold;
    font-weight: 700;
    Font-size: 16px;
    Line-height: 24px;   
    Vertical-align: Top;
    Fill: Solid;
    color: #FFFFFF;
    margin-top: 30px;
    
}

.container3 {
    Width: 1110px;
    Height: 574px;
    display: flex;
    justify-content: center;

    border: dotted
}

.container3-info {
    width: 486px;
    height: 531px;
    border:dotted;
}

.text3 {
    font-family: 'Poppins', sans-serif;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    fill: solid;
    color: #544837;

}

.title3 {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    Vertical-align: top;
    Fill: Solid;
    color: #2F281E;

}

.text3-1 {

    font-family: 'Poppins', sans-serif;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
    fill: solid;
    color: #544837;
    margin-top: 22px;
}

.text-heading {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
    fill: solid;
    color: #2F281E;

}

.text-info {
    font-family: 'Poppins', sans-serif;
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
    fill: solid;
    color: #544837;
}

.container4 {
    width: 1121px;
    height: 521px;
    display: flex;
    border:dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container4-info{
    width: 486px;
    height: 427px;
    display: flex;
    flex-direction: column;
    

    border: dotted;
}

.checkbox {
    width: 430px;
    height: 52px;
    border: dotted;
    display: flex;
    justify-content: space-around;
    
}

.container-footer {
    width: 1109px;
    height: 308px;

    border:dotted;
}

.item-container1 {
    width: 72px;
    height: 140px;

    border:dotted;
}

.item-container2 {
    width: 132px;
    height: 140px;
    
    border:dotted;
}
.item-list {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 35px;
    vertical-align: top;
    fill: Solid;
    color: #5448;37
}

